<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script >
        <!--
        function Complete()
        {
            var email = document.getElementById("Email");
            var first_name = document.getElementById("FirstName");
            var last_name = document.getElementById("LastName");
            var login = document.getElementById("Login");
            var pass = document.getElementById("Password");
            if (!email.validity.valid) {
                alert("Введите корректный Email")
                return;
              }
            if (first_name.length==0) {
                alert("Введите Имя")
                return;
              }
            if (last_name.length==0) {
                alert("Введите Фамилию")
                return;
              }
            if (login.length==0||login.length<5) {
                alert("Введите Логин (больше 5 символов)")
                return;
              }
            if (pass.length==0||pass.length<5) {
                alert("Введите Пароль (больше 5 символов)")
                return;
              }
            var myData =

            {
                FirstName: ""+document.Data.Name.value,
                LastName: ""+document.Data.LastName.value,
                Email: ""+document.Data.Email.value,
                Login: ""+document.Data.Login.value,
                Password: ""+document.Data.Password.value,
            };
            fetch('http://127.0.0.1:5000/register', {
              method: 'post',
            headers: {
             'Accept': 'application/json, text/plain, */*',
             'Content-Type': 'application/json'
             },
                body: JSON.stringify(myData)
                })
            location.href='http://127.0.0.1:5000/api/example'
              }
        //-->
    </script>
</head>
<body>
<H1>Регистрация</H1>

<form action="/api/example" method="get" id="form">

</form>

<FORM NAME="Data" id="Data" >
    <!-- Анкета -->
        <p>
       <B>Имя:<B>
            <input required type="text" id="FirstName" NAME="Name" SIZE=20  ><span></span><br>

        <B>Фамилия:<B>
           <input required type="text" id="LastName"  NAME="LastName" SIZE=20  ><span></span><br>

        <B>Email:<B>
            <input required type="email" id="Email" SIZE=20  ><span></span><br>

       <B>Логин:<B>
            <input required NAME="Login" id="Login"  SIZE=20  ><span></span><br>

         <B>Пароль:<B>
            <input required type="password" id="Password"  NAME="Password" SIZE=20  ><span></span><br>

    <!-- Кнопки готовности и сброса -->
    <INPUT TYPE="button" VALUE="Готово" form="form" onclick="Complete();location.href='http://127.0.0.1:5000/'" >
    <INPUT TYPE="reset" VALUE="Сброс">
     </p>
</FORM>
</body>
</html>